<h3>POIDH: archiving things people want pics of on twitter</h3>
<p>POIDH is internet slang for "pics or it didn't happen."  When someone posts about something interesting on twitter, but doesn't provide a pic, someone might @reply them with "POIDH", indicating that they need to provide photograph proof.</p>

<p>POIDH.org was based on the idea that whatever people want pics of must be <em>somewhat</em> interesting (maybe?).  Therefore, the site traces back @replies containing POIDH phrases to the original post, and archives them.  The result is an archive of those things people wanted photos of.</p>

<p>poidh is a thingy made by <a href="http://mroth.info">mroth</a>, 
originally developed at <a href="http://open.blogs.nytimes.com/2009/10/13/yahoo-open-hack-nyc/">openhacknyc</a>.  If you like POIDH, share it with your friends!</p>
<p align="center">
	<%= tweet_button( :url => 'http://poidh.org', :text => "POIDH.org: archiving things people want pics of on twitter", :via => '' ) %>
</p>