<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, tweets_url(:rss), :title => "Most recent POIDH") -%>
<% end %>

<div id="content">
<ul id="timeline"><%= render :partial => 'timeline' %></ul>
<div id="pagination"><%= render :partial => 'pagination' %></div>
</div>

<div id="about" class="callout border-callout">
<%= render :partial => 'about' %>

<b class="border-notch notch"></b>
<b class="notch"></b>
</div>

