h1 img {
	border: 0;
}
#content {
	width: 500px;
	position: absolute;
	top: 40px;
	left: 300px;
	margin-left: 10px;
}
#timeline {
	list-style-type: none;
}
#timeline li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed gray;
}
#timeline li .culprit_msg .timestamp {
	color: gray;
	font-size: smaller;
}
#timeline li .observer {
	font-style: italic;
}
#timeline li .permalink {
  position: relative;
  float: right;
  top: 15px;
  font-size: x-small;
}
#timeline li .permalink a, #timeline li .permalink a:hover, #timeline li .permalink a:visited {
  text-decoration: none;
  color: gray;
}
#footer {
  margin-top: 10px;
  text-align: center;
  font-size: x-small;
}
#about {
	width: 250px;
	margin-left: 10px;
}
#about p {
	font-size: x-small;
}

/* nabbed all this from http://mrcoles.com/blog/callout-box-css-border-triangles-cross-browser/ */
.callout {
    position: relative;
    margin: 18px 0;
    padding: 18px 20px;
    background-color: #eef4f9;
    /* easy rounded corners for modern browsers */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.callout .notch {
    position: absolute;
    top: -10px;
    left: 20px;
    margin: 0;
    border-top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eef4f9;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
     /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}
.border-callout { border: 1px solid #c5d9e8; padding: 17px 19px; }
.border-callout .border-notch { border-bottom-color: #c5d9e8; top: -11px; }
